/vendor
/.idea
/build
*.cache
/bower_components
/node_modules
/public/build
/public/css
/public/js
/public/images
/public/storage
/public/favicon.ico
/resources/docs/api.html
Homestead.yaml
Homestead.json
.env
*.sublime-workspace
/composer.lock

/.phpunit.result.cache
/.phpstan