<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" backupGlobals="false" backupStaticAttributes="false" bootstrap="bootstrap.php" colors="true" convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true" processIsolation="false" stopOnFailure="false" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage includeUncoveredFiles="true" processUncoveredFiles="false">
    <include>
      <directory suffix=".php">src</directory>
    </include>
    <exclude>
      <directory>src/Baum/Providers</directory>
      <directory>src/Baum/Generators</directory>
      <directory>src/Baum/Console</directory>
    </exclude>
  </coverage>
  <testsuites>
    <testsuite name="Baum Test Suite">
      <file>tests/suite/QueryBuilderExtensionTest.php</file>
      <file>tests/suite/NodeModelExtensionsTest.php</file>
      <directory>tests/suite/Category</directory>
      <directory>tests/suite/Cluster</directory>
    </testsuite>
  </testsuites>
</phpunit>
